a:link, a:visited {
	color: #660000;
	text-decoration: none;
	}
a:hover {
	text-decoration: underline;
	background-color: transparent;
	color: #000;
	}
font, p, div, ul, ol, li, td {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	}
h1, h2, h3, h4, h5 {
	color: #006600;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.2em;
	letter-spacing: 0.1em;
	}
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited {
	color: #000;
	text-decoration: none;
	}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
	text-decoration: underline;
	}
/* h1 {
	margin-top: 0em;
	margin-bottom: 0.1em;
	} */
/* h2, h3, h4, h5 {
	margin-top: 1em;
	margin-bottom: 0.1em;
	}
h1 + h2, h2 + h3, h3 + h4 {
	margin-top: 0.1em;
}
h1 {
	font-size: 18px;
	font-weight: normal;
	}
h2 {
	font-size: 16px;
	font-weight: normal;
	}
h3 {
	font-size: 14px;
	font-weight: normal;
	}

p {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
	line-height: 1.3em;
	}
div {
	margin-top: 0em;
	margin-bottom: 0.8em;
	line-height: 1.3em;
	} */
/* ul, ol {
	padding-left: 1.5em;
	margin-left: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.8em;
	}
li {
	padding-left: 0.1em;
	}
table{
	margin-top: 0.8em;
	margin-bottom: 0.2em;
}
.notopmargin {
	margin-top: 0em;
	}
.topmargin {
	margin-top: 1em;
	}
.msosmall{
	font-size: 9px;
} */

 /* The sidebar menu */
 .sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 160px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 18px;
	color: #818181;
	display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
	margin-left: 160px; /* Same as the width of the sidebar */
	padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  } 
  body.relative {
	position: relative;
	left: 30px;
  }